@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&family=Indie+Flower&family=Pangolin&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --text-color:#1a1c20;
    --background-color: #eeeff1;
    font-size: 17px;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body{
    font-family: "Indie Flower", cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color:#94d1e5;
    padding: 0 3.125rem;
    height: 5rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    position:fixed;
    top: 0;
    z-index: 1000;
}



nav .left a{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--text-color)
}

nav .right a{
    text-decoration: none;
    margin-left: 2rem;
    font-weight: 500;
    color: var(--text-color);
}

nav .right a:hover{
    color:blanchedalmond;
    transition: color 0.3s ease-in-out
}

/* Section Styling */
section{
    padding: 8rem 2rem;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
section:nth-of-type(odd) {
    background-color: #f8f8f8; /* Light gray for odd sections */
}

section:nth-of-type(even) {
    background-color: #ffffff; /* White for even sections */
}

section h2{
    font-size: 2.5rem;
    position: relative;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

section h2::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #aedbee;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}


/* About Section */ 

#about-section{
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 2rem;
    align-items: center;
    gap: 0.5rem;
    display: flex;
}

#about-section h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

#about-section .headshot{
    width: 20rem;
    height: 20rem;
    margin-top: 1rem;
    margin-bottom:36px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about-section .headshot img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#about-section .headshot img:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

#about-section .bio{
    margin-bottom:2rem;
    padding: 0 2rem;
    max-width: 56.25rem;
}

#about-section .bio p{
    font-size: 1.2rem;
    line-height: 1.3;
}

#about-section .social-icons {
    font-size: 2.25rem;
}

#about-section .social-icons a {
    padding: 0;
    margin: 0 0.75rem;
    text-decoration: none;
        margin: 0 0.75rem;

}

#about-section .social-icons i {
    color: #94d1e5;
    font-weight: 500;
}

#about-section .social-icons i:hover{
    color:blanchedalmond;
    transition: color 0.3s ease-in-out;
}

/* Projects Section */
#projects-section{
    width: 100%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

#projects-section h2{
    margin-bottom: 1rem;
    font-size: 2.75rem;
    font-weight: 700;
}

#projects-section h3 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: underline;
}

.project-box{
    flex: 0 0 16rem; /* Fixed width for the boxes */
    text-align: center;
    border: 1px solid #d7dbd8;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for scaling */
}

.project-box img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 0.25rem;
    margin-bottom: 0.75rem;
}

.project-box h4 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.project-box h5 {
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.project-box p {
    font-size: 1rem;
    font-weight: 300;
    color: #494a4a;
}

